<!DOCTYPE html>
<html>
<head>
  <title>Railsgirls</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>
<body>

  <div class="container">
      <h1>RAILSGIRLS <small>logged as <%= current_user.email %></small></h1>
      <div class="navbar navbar-inverse">
        <div class="navbar-inner nav-collapse" style="height: auto;">
          <ul class="nav">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Posts', posts_path %></li>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Sign in / up', new_user_session_path %></li>
          </ul>
        </div>
      </div>
      <div id="content" class="row-fluid">
      <div class="col-lg-2 col-md-2 col-sm-2 sidebar">
          <h3>Users</h3>
          <ul class="nav nav-tabs nav-stacked">
            <li><a href="#">Another Link 1</a></li>
            <li><a href="#">Another Link 2</a></li>
            <li><a href="#">Another Link 3</a></li>
          </ul>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 main">

          <% if flash.any? %>
            <% flash.each do |key, value| %>
              <div class="alert alert-warning fade in flash-messages">
                <button class="close" data-dismiss="alert">
                  ×
                </button>
                <span><%= value %></span>
              </div>
            <% end %>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>

</body>
</html>
